* {
  font-family: "FiraCodeNerdFont", "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#import "./colors.rasi"
/* Window */
window {
  /* background-color: #000b1e; */
  background-color: @background; 
  border-radius: 12px;
  /* border: 2px solid #00c7b6; */
  border: 2px solid @foreground;
  padding: 6px;
  margin: 0px;
  /* box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 2px 10px 2px @transparent-strong;
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#entry {
  margin: 4px;
  outline: none;
}

#input:focus {
  border: none;
  outline: none;
}

/* Text */
#text {
  margin: 6px;
  padding: 0px 8px;
  /* color: #00c7b6; */
  color: @foreground;
  background-color: transparent;
}

/* Images */
#img {
  margin-left: 8px;
}
